
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-text-color:#183b56;
  --secondary-text-color:#577592;
  --accent-color:#2294ed;
  --accent-color-dark:#1d69a3;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-inline: 20px;
}

.primary-btn {
  background-color: var(--accent-color);
  color: white !important;
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 600;
  box-shadow: 0px 0px 2px var(--primary-text-color);
}
.primary-btn:hover {
  background-color: var(--accent-color-dark);
  transition: 0.2s ease-in-out;
}

.secondary-btn {
  border: 1px solid var(--secondary-text-color);
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  color: var(--primary-text-color) !important;
  box-shadow: 5px px 2px var(--secondary-text-color);
}
.secondary-btn:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

.top-banner {
  background-color: #e74694;
  background-size: 300px;
  background-image: url("/images/asset 32.png");
}
.top-banner .small-bold-text {
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.nav-bar .container .company-logo img {
  width: 250px;
}
.nav-bar .container .nav-links ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-bar .container .nav-links ul .hover-link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.nav-bar .container .nav-links ul .hover-link:hover {
  color: var(--accent-color);
  transition: 0.2s ease-in-out;
}

.hero {
  margin-top: 75px;
}
.hero .container {
  display: flex;
  align-items: center;
  gap: 75px;
}
.hero .left-side a {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.hero .left-side p {
  font-size: 1.25rem;
  margin-top: 20px;
  color: var(--secondary-text-color);
}
.hero .right-side img {
  width: 550px;
}

.companies-section {
  margin-top: 75px;
}
.companies-section .container {
  display: flex;
  flex-direction: column;
}
.companies-section p {
  text-align: center;
  color: var(--primary-text-color);
}
.companies-section .logos {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}
.companies-section .logos img {
  height: 46px;
}

.features-section {
  background-image: url(images/asset\ 34.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
  margin-top: 50px;
}
.features-section a {
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
}
.features-section a i {
  margin-left: 10px;
}
.features-section .features-header {
  padding-top: 75px;
  text-align: center;
}
.features-section .features-area {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.features-section .features-card {
  width: 30%;
  text-align: center;
}
.features-section .features-card img {
  width: 45px;
}
.features-section .features-card h2 {
  margin-top: 7px;
  font-weight: 550;
  font-size: 1.4rem;
}
.features-section .features-card p {
  margin-top: 12px;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.big-feature-section-1 {
  margin-top: 75px;
}
.big-feature-section-1 .container {
  display: flex;
  gap: 75px;
}
.big-feature-section-1 .container .left-col .feature-img {
  width: 550px;
}
.big-feature-section-1 .container .right-col .top h2 {
  margin-top: 8px;
}
.big-feature-section-1 .container .right-col .top p {
  margin-top: 16px;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.big-feature-section-1 .container .right-col .bottom {
  margin-top: 45px;
}
.big-feature-section-1 .container .right-col .bottom .logo {
  width: 100px;
}
.big-feature-section-1 .container .right-col .bottom .logo .qt {
  position: relative;
  margin-top: -30px;
  margin-bottom: -45px;
  margin-left: -45px;
  width: 75px;
  z-index: -999;
}
.big-feature-section-1 .container .right-col .bottom h4 {
  padding-right: 125px;
  line-height: 1.75rem;
  color: var(--primary-text-color);
  font-weight: 550;
}
.big-feature-section-1 .container .right-col .bottom .person {
  display: flex;
  margin-top: 25px;
}
.big-feature-section-1 .container .right-col .bottom .person .person-img {
  width: 50px;
}
.big-feature-section-1 .container .right-col .bottom .person .person-detail {
  margin-left: 16px;
}
.big-feature-section-1 .container .right-col .bottom .person .person-detail h4 {
  font-size: 1.1rem;
}
.big-feature-section-1 .container .right-col .bottom .person .person-detail p {
  font-size: 0.9rem;
}
.big-feature-section-1 img {
  width: 100%;
}

.big-feature-section-2 {
  margin-top: 75px;
}
.big-feature-section-2 .container {
  display: flex;
  gap: 75px;
}
.big-feature-section-2 .container .left-col .feature-img {
  width: 550px;
}
.big-feature-section-2 .container .right-col .top h2 {
  margin-top: 8px;
}
.big-feature-section-2 .container .right-col .top p {
  margin-top: 16px;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.big-feature-section-2 .container .right-col .bottom {
  margin-top: 45px;
}
.big-feature-section-2 .container .right-col .bottom .logo {
  width: 100px;
}
.big-feature-section-2 .container .right-col .bottom .logo .qt {
  position: relative;
  margin-top: -30px;
  margin-bottom: -45px;
  margin-left: -45px;
  width: 75px;
  z-index: -999;
}
.big-feature-section-2 .container .right-col .bottom h4 {
  padding-right: 125px;
  line-height: 1.75rem;
  color: var(--primary-text-color);
  font-weight: 550;
}
.big-feature-section-2 .container .right-col .bottom .person {
  display: flex;
  margin-top: 25px;
}
.big-feature-section-2 .container .right-col .bottom .person .person-img {
  width: 50px;
}
.big-feature-section-2 .container .right-col .bottom .person .person-detail {
  margin-left: 16px;
}
.big-feature-section-2 .container .right-col .bottom .person .person-detail h4 {
  font-size: 1.1rem;
}
.big-feature-section-2 .container .right-col .bottom .person .person-detail p {
  font-size: 0.9rem;
}
.big-feature-section-2 img {
  width: 100%;
}

.big-feature-section-3 {
  margin-top: 75px;
}
.big-feature-section-3 .container {
  display: flex;
  gap: 75px;
}
.big-feature-section-3 .container .left-col .feature-img {
  width: 550px;
}
.big-feature-section-3 .container .right-col .top h2 {
  margin-top: 8px;
}
.big-feature-section-3 .container .right-col .top p {
  margin-top: 16px;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.big-feature-section-3 .container .right-col .bottom {
  margin-top: 45px;
}
.big-feature-section-3 .container .right-col .bottom .logo {
  width: 100px;
}
.big-feature-section-3 .container .right-col .bottom .logo .qt {
  position: relative;
  margin-top: -30px;
  margin-bottom: -45px;
  margin-left: -45px;
  width: 75px;
  z-index: -999;
}
.big-feature-section-3 .container .right-col .bottom h4 {
  padding-right: 125px;
  line-height: 1.75rem;
  color: var(--primary-text-color);
  font-weight: 550;
}
.big-feature-section-3 .container .right-col .bottom .person {
  display: flex;
  margin-top: 25px;
}
.big-feature-section-3 .container .right-col .bottom .person .person-img {
  width: 50px;
}
.big-feature-section-3 .container .right-col .bottom .person .person-detail {
  margin-left: 16px;
}
.big-feature-section-3 .container .right-col .bottom .person .person-detail h4 {
  font-size: 1.1rem;
}
.big-feature-section-3 .container .right-col .bottom .person .person-detail p {
  font-size: 0.9rem;
}
.big-feature-section-3 img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */