@media screen and (max-width: 1440px) {
  .nav-bar .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1080px;
  }
  .nav-bar .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 924px;
    margin: 0 auto;
  }
  .nav-bar .nav-toggle {
    display: none;
  }
  .hero .container {
    justify-content: space-between;
  }
  .hero .container .left-side {
    width: 43%;
  }
  .hero .container .left-side h1 {
    font-size: 2.25rem;
  }
  .hero .container .left-side p {
    font-size: 1.15rem;
  }
  .hero .container .right-side {
    width: 50%;
  }
  .hero .container .right-side img {
    width: 100%;
  }
  .nav-bar .container {
    justify-content: space-between;
  }
  .nav-bar .container .company-logo {
    width: 20%;
  }
  .nav-bar .container .nav-links {
    width: 67%;
  }
  .companies-section .container .logos img {
    height: 38px;
  }
  .features-section {
    margin-top: 16px;
    background-size: 700px;
  }
  .features-section .features-area {
    height: 475px;
    margin: 25px;
  }
  .features-section .features-card {
    width: 30%;
  }
  .features-section .features-card p {
    font-size: 1rem;
  }
  .big-feature-section-1 .container .left-col {
    width: 47%;
  }
  .big-feature-section-1 .container .left-col .feature-img {
    width: 100%;
  }
  .big-feature-section-1 .container .right-col {
    width: 47%;
  }
  .big-feature-section-1 .container .right-col .top p {
    margin-top: 8px;
    font-size: 1.1rem;
  }
  .big-feature-section-1 .container .right-col .bottom {
    margin-top: 22px;
  }
  .big-feature-section-1 .container .right-col .bottom h4 {
    padding-right: 100px;
  }
  .big-feature-section-2 .container .left-col {
    width: 47%;
  }
  .big-feature-section-2 .container .left-col .feature-img {
    width: 100%;
  }
  .big-feature-section-2 .container .right-col {
    margin-left: 16px;
    width: 47%;
  }
  .big-feature-section-2 .container .right-col .top p {
    margin-top: 8px;
    font-size: 1.1rem;
  }
  .big-feature-section-2 .container .right-col .bottom {
    margin-top: 22px;
  }
  .big-feature-section-2 .container .right-col .bottom h4 {
    padding-right: 100px;
  }
  .big-feature-section-3 .container .left-col {
    width: 47%;
  }
  .big-feature-section-3 .container .left-col .feature-img {
    width: 100%;
  }
  .big-feature-section-3 .container .right-col {
    width: 47%;
  }
  .big-feature-section-3 .container .right-col .top p {
    margin-top: 8px;
    font-size: 1.1rem;
  }
  .big-feature-section-3 .container .right-col .bottom {
    margin-top: 22px;
  }
  .big-feature-section-3 .container .right-col .bottom h4 {
    padding-right: 100px;
  }
  .example-section .container .example-header h2 {
    font-size: 1.75rem;
  }
  .example-section .container .examples-area {
    margin-top: 50px;
    gap: 22px;
  }
  .example-section .container .examples-area a {
    width: 47%;
  }
  .example-section .container .examples-area a h3 {
    font-size: 1.1rem;
    padding: 14px;
  }
  .cta-section-main .container .left-col h2 {
    font-size: 2rem;
  }
  .cta-section-main .container .left-col h3 {
    font-size: 1rem;
  }
  .cta-section-main .container .left-col .sub-section .sub-left-col p {
    font-size: 0.88rem;
  }
  .cta-section-main .container .left-col .sub-section .sub-right-col p {
    font-size: 0.88rem;
  }
  .cta-section-main .container .right-col .earth-img img {
    top: 2%;
    width: 110%;
  }
  .cta-section-main .container .right-col .img-card {
    left: 23%;
    top: 32%;
  }
  .cta-section-main .container .right-col .img-card img {
    width: 78%;
  }
  footer .container .weblogo {
    width: 25%;
  }
  footer .container .weblogo img {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 670px;
  }
  .primary-btn {
    padding: 12px 18px;
  }
  .secondary-btn {
    padding: 8px 20px;
  }
  .nav-bar .container .company-logo {
    width: 25%;
  }
  .nav-bar .container .nav-toggle {
    display: block;
    width: auto;
  }
  .nav-bar .container .nav-links {
    display: none;
  }
  .hero {
    margin-top: 50px;
  }
  .hero .container .left-side h1 {
    font-size: 1.6rem;
  }
  .hero .container .left-side p {
    font-size: 1.1rem;
  }
  .hero .container .left-side a {
    margin-top: 35px;
  }
  .companies-section .container p {
    font-size: 0.95rem;
  }
  .companies-section .container .logos img {
    height: 26px;
  }
  .features-section .container .features-header {
    padding-top: 55px;
  }
  .features-section .container .features-header h2 {
    font-size: 1.3rem;
  }
  .features-section .container .features-card img {
    width: 40px;
  }
  .features-section .container .features-card h2 {
    font-size: 1.2rem;
  }
  .features-section .container .features-card p {
    font-size: 0.9rem;
  }
  .big-feature-section-1 .container .right-col .top h4 {
    font-size: 0.95rem;
  }
  .big-feature-section-1 .container .right-col .top h2 {
    font-size: 1.3rem;
  }
  .big-feature-section-1 .container .right-col .top p {
    font-size: 0.95rem;
  }
  .big-feature-section-1 .container .right-col .bottom {
    margin-top: 15px;
  }
  .big-feature-section-1 .container .right-col .bottom .logo {
    width: 90px;
  }
  .big-feature-section-1 .container .right-col .bottom .logo .qt {
    width: 55px;
  }
  .big-feature-section-1 .container .right-col .bottom h4 {
    padding-right: 15px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .big-feature-section-1 .container .right-col .bottom .person {
    margin-top: 15px;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-img {
    width: 40px;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-detail {
    margin-left: 16px;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-detail h4 {
    font-size: 0.8rem;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-detail p {
    font-size: 0.75rem;
  }
  .big-feature-section-2 .container .right-col .top h4 {
    font-size: 0.95rem;
  }
  .big-feature-section-2 .container .right-col .top h2 {
    font-size: 1.3rem;
  }
  .big-feature-section-2 .container .right-col .top p {
    font-size: 0.95rem;
  }
  .big-feature-section-2 .container .right-col .bottom {
    margin-top: 15px;
  }
  .big-feature-section-2 .container .right-col .bottom .logo {
    width: 90px;
  }
  .big-feature-section-2 .container .right-col .bottom .logo .qt {
    width: 55px;
  }
  .big-feature-section-2 .container .right-col .bottom h4 {
    padding-right: 15px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .big-feature-section-2 .container .right-col .bottom .person {
    margin-top: 15px;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-img {
    width: 40px;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-detail {
    margin-left: 16px;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-detail h4 {
    font-size: 0.8rem;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-detail p {
    font-size: 0.75rem;
  }
  .big-feature-section-3 .container .right-col .top h4 {
    font-size: 0.95rem;
  }
  .big-feature-section-3 .container .right-col .top h2 {
    font-size: 1.3rem;
  }
  .big-feature-section-3 .container .right-col .top p {
    font-size: 0.95rem;
  }
  .big-feature-section-3 .container .right-col .bottom {
    margin-top: 15px;
  }
  .big-feature-section-3 .container .right-col .bottom .logo {
    width: 90px;
  }
  .big-feature-section-3 .container .right-col .bottom .logo .qt {
    width: 55px;
  }
  .big-feature-section-3 .container .right-col .bottom h4 {
    padding-right: 15px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .big-feature-section-3 .container .right-col .bottom .person {
    margin-top: 15px;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-img {
    width: 40px;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-detail {
    margin-left: 16px;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-detail h4 {
    font-size: 0.8rem;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-detail p {
    font-size: 0.75rem;
  }
  .example-section .container .example-header h2 {
    font-size: 1.75rem;
  }
  .example-section .container .examples-area {
    margin-top: 50px;
    gap: 22px;
    flex-wrap: wrap;
  }
  .example-section .container .examples-area a {
    width: 47%;
    min-height: 200px;
  }
  .example-section .container .examples-area a h3 {
    font-size: 1.1rem;
    padding: 14px;
  }
  .cta-section-main .container .left-col h2 {
    font-size: 1.25rem;
  }
  .cta-section-main .container .left-col h3,
  .cta-section-main .container .left-col p {
    font-size: 0.95em;
  }
  .cta-section-main .container .left-col .sub-section .sub-left-col p {
    font-size: 0.88rem;
  }
  .cta-section-main .container .left-col .sub-section .sub-right-col p {
    font-size: 0.88rem;
  }
  .cta-section-main .container .left-col .cta-btn {
    margin-top: 25px;
  }
  .cta-section-main .container .left-col .cta-btn a {
    margin-top: 22px;
    font-size: 0.8rem;
  }
  .cta-section-main .container .right-col .earth-img img {
    left: -5%;
    top: 2%;
    width: 120%;
  }
  .cta-section-main .container .right-col .img-card {
    left: 15%;
    top: 22%;
  }
  .cta-section-main .container .right-col .img-card img {
    width: 65%;
  }
  .cta-section-main .container .right-col .img-card .price-info p {
    font-size: 0.9rem;
  }
  .cta-section-main .container .right-col .img-card .price-info p span {
    font-size: 1.5rem;
  }
  .cta-section-main .container .right-col .img-card .price-info #usd {
    font-size: 1.5rem;
  }
  .cta-section-secondary .container h1 {
    font-size: 1.4rem;
  }
  .cta-section-secondary .container p {
    font-size: 0.9rem;
  }
  .cta-section-secondary .container a {
    font-size: 0.9rem;
  }
  footer .container .weblogo {
    width: 25%;
  }
  footer .container .weblogo img {
    width: 80%;
  }
  footer .container .list p {
    font-size: 0.88rem;
  }
  footer .container .products {
    width: 25%;
  }
  footer .container .products h3 {
    font-size: 1rem;
  }
  footer .container .methods {
    width: 25%;
  }
  footer .container .methods h3 {
    font-size: 1rem;
  }
  footer .container .resources {
    width: 25%;
  }
  footer .container .resources h3 {
    font-size: 1rem;
  }
  .footer-bar .container .left-col {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .footer-bar .container .left-col p {
    font-size: 0.8rem;
  }
  .footer-bar .container .right-col {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .footer-bar .container .right-col img {
    width: 16px;
    height: auto;
  }
}
@media screen and (max-width: 426px) {
  .container {
    max-width: 85%;
  }
  .primary-btn {
    padding: 12px 18px;
  }
  .secondary-btn {
    padding: 8px 20px;
  }
  .top-banner .container .small-bold-text {
    font-size: 0.9rem;
    text-align: center;
  }
  .nav-bar .container .company-logo {
    width: 45%;
  }
  .nav-bar .container .nav-toggle {
    display: block;
    width: auto;
  }
  .nav-bar .container .nav-links {
    display: none;
  }
  .hero {
    margin-top: 50px;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .container .right-side {
    width: 100%;
  }
  .hero .container .left-side {
    margin-top: 32px;
    width: 100%;
  }
  .hero .container .left-side h1 {
    font-size: 1.35rem;
  }
  .hero .container .left-side p {
    font-size: 1rem;
  }
  .hero .container .left-side a {
    margin-top: 24px;
    width: 100%;
    text-align: center;
  }
  .companies-section {
    margin-top: 50px;
  }
  .companies-section .container p {
    font-size: 0.9rem;
  }
  .companies-section .container .logos {
    justify-content: space-around;
  }
  .companies-section .container .logos img {
    height: 30px;
  }
  .features-section .container .features-header {
    padding-top: 50px;
  }
  .features-section .container .features-header h2 {
    font-size: 1.1rem;
  }
  .features-section .container .features-area {
    margin: 7px;
    height: auto;
  }
  .features-section .container .features-card {
    margin-top: 36px;
    width: 100%;
  }
  .features-section .container .features-card img {
    width: 40px;
  }
  .features-section .container .features-card h2 {
    font-size: 1.2rem;
  }
  .features-section .container .features-card p {
    font-size: 0.9rem;
  }
  .big-feature-section-1 {
    margin-top: 36px;
  }
  .big-feature-section-1 .container {
    overflow: visible;
    flex-direction: column;
  }
  .big-feature-section-1 .container .left-col {
    width: 100%;
  }
  .big-feature-section-1 .container .right-col {
    margin-left: 7px;
    margin-top: 28px;
    width: 100%;
  }
  .big-feature-section-1 .container .right-col .top h4 {
    font-size: 0.95rem;
  }
  .big-feature-section-1 .container .right-col .top h2 {
    font-size: 1.3rem;
  }
  .big-feature-section-1 .container .right-col .top p {
    font-size: 0.95rem;
  }
  .big-feature-section-1 .container .right-col .bottom {
    margin-top: 15px;
  }
  .big-feature-section-1 .container .right-col .bottom .logo {
    width: 90px;
  }
  .big-feature-section-1 .container .right-col .bottom .logo .qt {
    width: 55px;
  }
  .big-feature-section-1 .container .right-col .bottom h4 {
    padding-right: 15px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .big-feature-section-1 .container .right-col .bottom .person {
    margin-top: 15px;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-img {
    width: 40px;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-detail {
    margin-left: 16px;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-detail h4 {
    font-size: 0.8rem;
  }
  .big-feature-section-1 .container .right-col .bottom .person .person-detail p {
    font-size: 0.75rem;
  }
  .big-feature-section-2 {
    margin-top: 32px;
  }
  .big-feature-section-2 .container {
    flex-direction: column-reverse;
  }
  .big-feature-section-2 .container .left-col {
    width: 100%;
  }
  .big-feature-section-2 .container .right-col {
    margin-left: 7px;
    width: 100%;
  }
  .big-feature-section-2 .container .right-col .top h4 {
    font-size: 0.95rem;
  }
  .big-feature-section-2 .container .right-col .top h2 {
    font-size: 1.3rem;
  }
  .big-feature-section-2 .container .right-col .top p {
    font-size: 0.95rem;
  }
  .big-feature-section-2 .container .right-col .bottom {
    margin-top: 15px;
  }
  .big-feature-section-2 .container .right-col .bottom .logo {
    width: 90px;
  }
  .big-feature-section-2 .container .right-col .bottom .logo .qt {
    width: 55px;
  }
  .big-feature-section-2 .container .right-col .bottom h4 {
    padding-right: 15px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .big-feature-section-2 .container .right-col .bottom .person {
    margin-top: 15px;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-img {
    width: 40px;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-detail {
    margin-left: 16px;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-detail h4 {
    font-size: 0.8rem;
  }
  .big-feature-section-2 .container .right-col .bottom .person .person-detail p {
    font-size: 0.75rem;
  }
  .big-feature-section-3 {
    margin-top: 36px;
  }
  .big-feature-section-3 .container {
    overflow: visible;
    flex-direction: column;
  }
  .big-feature-section-3 .container .left-col {
    width: 100%;
  }
  .big-feature-section-3 .container .right-col {
    margin-left: 7px;
    margin-top: 28px;
    width: 100%;
  }
  .big-feature-section-3 .container .right-col .top h4 {
    font-size: 0.95rem;
  }
  .big-feature-section-3 .container .right-col .top h2 {
    font-size: 1.3rem;
  }
  .big-feature-section-3 .container .right-col .top p {
    font-size: 0.95rem;
  }
  .big-feature-section-3 .container .right-col .bottom {
    margin-top: 15px;
  }
  .big-feature-section-3 .container .right-col .bottom .logo {
    width: 90px;
  }
  .big-feature-section-3 .container .right-col .bottom .logo .qt {
    width: 55px;
  }
  .big-feature-section-3 .container .right-col .bottom h4 {
    padding-right: 15px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .big-feature-section-3 .container .right-col .bottom .person {
    margin-top: 15px;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-img {
    width: 40px;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-detail {
    margin-left: 16px;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-detail h4 {
    font-size: 0.8rem;
  }
  .big-feature-section-3 .container .right-col .bottom .person .person-detail p {
    font-size: 0.75rem;
  }
  .example-section .container .example-header h2 {
    font-size: 1.35rem;
  }
  .example-section .container .examples-area {
    margin-top: 50px;
    gap: 22px;
    flex-wrap: wrap;
  }
  .example-section .container .examples-area a {
    width: 100%;
    min-height: 170px;
  }
  .example-section .container .examples-area a h3 {
    font-size: 1.1rem;
    padding: 14px;
  }
  .cta-section-main {
    margin-top: 0px;
  }
  .cta-section-main .container {
    padding-block: 36px;
    padding-inline: 12px;
    margin-top: 26px;
    flex-direction: column-reverse;
  }
  .cta-section-main .container .left-col {
    margin-top: 400px;
    width: 100%;
  }
  .cta-section-main .container .left-col h2 {
    font-size: 1.25rem;
  }
  .cta-section-main .container .left-col h3,
  .cta-section-main .container .left-col p {
    font-size: 0.9em;
  }
  .cta-section-main .container .left-col .sub-section {
    flex-direction: column;
  }
  .cta-section-main .container .left-col .sub-section .sub-left-col p {
    font-size: 0.88rem;
  }
  .cta-section-main .container .left-col .sub-section .sub-right-col p {
    font-size: 0.88rem;
  }
  .cta-section-main .container .left-col .cta-btn {
    margin-top: 25px;
  }
  .cta-section-main .container .left-col .cta-btn p {
    width: 100%;
    text-align: center;
  }
  .cta-section-main .container .left-col .cta-btn a {
    text-align: center;
    display: block;
    margin-top: 22px;
    font-size: 0.8rem;
  }
  .cta-section-main .container .right-col {
    position: relative;
    width: 100%;
  }
  .cta-section-main .container .right-col .earth-img img {
    left: -12%;
    top: 2%;
    width: 120%;
  }
  .cta-section-main .container .right-col .img-card {
    left: 8%;
    margin-top: 120px;
  }
  .cta-section-main .container .right-col .img-card img {
    width: 55%;
  }
  .cta-section-main .container .right-col .img-card .price-info p {
    font-size: 0.9rem;
  }
  .cta-section-main .container .right-col .img-card .price-info p span {
    font-size: 1.5rem;
  }
  .cta-section-main .container .right-col .img-card .price-info p #usd {
    font-size: 1.5rem;
  }
  .cta-section-secondary .container h1 {
    font-size: 1.4rem;
  }
  .cta-section-secondary .container p {
    font-size: 0.9rem;
  }
  .cta-section-secondary .container a {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
  footer .container {
    text-align: center;
    flex-direction: column;
  }
  footer .container .weblogo {
    width: 100%;
  }
  footer .container .weblogo img {
    width: 50%;
  }
  footer .container .list {
    margin-top: 7px;
  }
  footer .container .list p {
    font-size: 0.88rem;
  }
  footer .container .products {
    margin-top: 16px;
    width: 100%;
  }
  footer .container .products h3 {
    font-size: 1rem;
  }
  footer .container .methods {
    margin-top: 16px;
    width: 100%;
  }
  footer .container .methods h3 {
    font-size: 1rem;
  }
  footer .container .resources {
    margin-top: 16px;
    width: 100%;
  }
  footer .container .resources h3 {
    font-size: 1rem;
  }
  .footer-bar {
    height: 150px;
  }
  .footer-bar .container {
    flex-direction: column;
    align-items: center;
    height: 150px;
  }
  .footer-bar .container .left-col {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-bar .container .left-col p {
    font-size: 0.8rem;
  }
  .footer-bar .container .right-col {
    margin-block: 16px;
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .footer-bar .container .right-col img {
    width: 16px;
    height: auto;
  }
}/*# sourceMappingURL=media.css.map */